[phases.setup]
nixPkgs = ["python39", "nodejs-18_x", "pip"]

[phases.install]
cmds = [
  "cd frontend && npm install",
  "cd backend && pip install -r requirements.txt"
]

[phases.build]
cmds = [
  "cd frontend && npm run build",
  "cd backend && python manage.py collectstatic --noinput"
]

[start]
cmd = "cd backend && gunicorn dashboard_project.wsgi --bind 0.0.0.0:$PORT"
