[phases.setup]
nixPkgs = ["python39", "nodejs-18_x"]

[phases.install]
cmds = [
  "npm install --prefix frontend",
  "pip install -r backend/requirements.txt"
]

[phases.build]
cmds = [
  "npm run build --prefix frontend",
  "python backend/manage.py collectstatic --noinput"
]

[start]
cmd = "cd backend && gunicorn dashboard_project.wsgi --bind 0.0.0.0:$PORT"
